In [33]:
from sklearn.datasets import fetch_openml
import numpy as np
from sklearn.datasets import fetch_openml
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
boston = fetch_openml(name='boston', version=1, as_frame=True, parser='auto')
x, y = boston.data, boston.target
# 确保所有特征都是数值类型
x = x.select_dtypes(include=[np.number])

# 移除包含缺失值的行
x = x.dropna()
y = y.loc[x.index]
x = x[y < 50]
y = y[y < 50]
x

,CRIM,ZN,INDUS,NOX,RM,AGE,DIS,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.538,6.575,65.2,4.0900,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.469,6.421,78.9,4.9671,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.469,7.185,61.1,4.9671,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.458,6.998,45.8,6.0622,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.458,7.147,54.2,6.0622,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.573,6.593,69.1,2.4786,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.573,6.120,76.7,2.2875,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.573,6.976,91.0,2.1675,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.573,6.794,89.3,2.3889,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.573,6.030,80.8,2.5050,273.0,21.0,396.90,7.88

In [34]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state = 666)
x_train,y_train
lin_reg = LinearRegression()
lin_reg.fit(np.array(x_train),np.array(y_train))
x_test,y_test

(        CRIM    ZN  INDUS    NOX     RM   AGE     DIS    TAX  PTRATIO       B  \
 128  0.32543   0.0  21.89  0.624  6.431  98.8  1.8125  437.0     21.2  396.90
 251  0.21409  22.0   5.86  0.431  6.438   8.9  7.3967  330.0     19.1  377.07
 457  8.20058   0.0  18.10  0.713  5.936  80.3  2.7792  666.0     20.2    3.50
 189  0.08370  45.0   3.44  0.437  7.185  38.9  4.5667  398.0     15.2  396.90
 481  5.70818   0.0  18.10  0.532  6.750  74.9  3.3317  666.0     20.2  393.07
 ..       ...   ...    ...    ...    ...   ...     ...    ...      ...     ...
 322  0.35114   0.0   7.38  0.493  6.041  49.9  4.7211  287.0     19.6  396.90
 61   0.17171  25.0   5.13  0.453  5.966  93.4  6.8185  284.0     19.7  378.08
 237  0.51183   0.0   6.20  0.507  7.358  71.6  4.1480  307.0     17.4  390.07
 256  0.01538  90.0   3.75  0.394  7.454  34.2  6.3361  244.0     15.9  386.34
 29   1.00245   0.0   8.14  0.538  6.674  87.3  4.2390  307.0     21.0  380.23

      LSTAT
 128  15.39
 251   3.59
 457  16.94
 189   5.39
 481   7.74
 ..     ...
 322   7.70
 61   14.44
 237   4.73
 256   3.11
 29   11.98

 [98 rows x 11 columns],
 128    18.0
 251    24.8
 457    13.5
 189    34.9
 481    23.7
        ...
 322    20.4
 61     16.0
 237    31.5
 256    44.0
 29     21.0
 Name: MEDV, Length: 98, dtype: float64)

In [35]:
lin_reg.score(x_test,y_test)

/Users/zhulin/anaconda3/lib/python3.11/site-packages/sklearn/base.py:457: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  warnings.warn(

0.8037090355081943